html {
    background-color: #C4F09F;
    font-family: "Signika Negative", Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    font-size: 2em;
}

body {
    margin: 0px;
}

#centre {
    margin-top: 0px;
    padding-top:0px;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    min-width: calc(min(100%, 1000px));
    max-width: 2000px;
    padding: 0px;
    background-color: #FFFFFF;
}

#header {
    background-color: #1F271B;
    color: #FFFFFF;
    width: 100%;
}

.header-img {
    width: 100%;
}

#header {
    background-image: url("../images/garden.jpg");
    background-size: cover;
    object-position: 50% 50%;
    padding-top: 20vh;
}

#header-text {
    border-top: solid darkgreen 6px;
    backdrop-filter: blur(8px) brightness(60%);
    -webkit-backdrop-filter: blur(8px) brightness(60%);
}

#header h1, h2 {
    margin: 0px;
}

#header h1 {
    padding-top: 1em;
    padding-bottom: 0.25em;
}

#header h2 {
    padding-bottom: 1em;
}

#content {
    padding: 1em;
}

#content h1 {
    background-color: #C4F09F;
    width: 100%;
    margin-left: 0px;
}

ul {
    list-style-position: inside;
}

#markdown-toc {
    text-align: left;
}

#group-members {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    row-gap: 2rem;
}

.core-group-member {
    width: 450px;
}

.group-left {
    width: 30%;
    height: 100%;
    float: left;
    background-color: #C4F09F;
}

.group-right {
    width: 70%;
    height: 100%;
    float: right;
    margin-left:0px;
    padding-left: 0px;
}

.group-right p, h1 {
    margin: 0.2em;
}

.pronouns {
    font-size: 0.7rem;
    font-style:italic;
}

.core-group-photo {
    width: 100%;
    min-height: 100%;
    object-fit: cover;
}

#footer {
    padding-left: 1rem;
    padding-bottom: 1rem;
    text-align: left;
    font-size: 0.5rem;
}

#how-it-works-box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    column-gap: 0.1rem;
    row-gap: 2rem;
}

.how-it-works-role {
    width: 15%;
    min-width: 210px;
    margin: 0px 15px;
    font-size: 0.5rem;
    flex-grow: 1;
    border: solid darkgreen;
    padding-bottom: 56px;
}

.logo {
    position: relative;
    top: 0px;
    height:100%;
}

.logo-image {
    width: 56px;
    position: absolute;
    bottom: calc(10px - 56px);
    left: calc(50% - 23px);
}



.how-it-works-role h1 {
    width: fit-content;
}
